<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
        <title>Home</title> 
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.min.css" integrity="sha512-/VYneElp5u4puMaIp/4ibGxlTd2MV3kuUIroR3NSQjS2h9XKQNebRQiyyoQKeiGE9mRdjSCIZf9pb7AVJ8DhCg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav>
                <div class="logo">
                    <img src="/images/rick.png" alt="logo">
                </div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/characters">Characters</a></li>
                    <li><a href="/episode">Episode</a></li>
                    
                </ul>
                <div class="menu"><i class="ri-menu-line"></i></div>
            </nav>
        </header>
        <nav class="side_nav">
            <ul class="side_nav_list">
                <li><a href="/">Home</a></li>
                <li><a href="/characters">Characters</a></li>
                <li><a href="/episode">Episode</a></li>
            </ul>
        </nav>
        <main>